* { 
    
    box-sizing: border-box; 
}

body { 
    
    color:wheat ;  
    background: #0A1828  ; 
    padding: 1px ;     
} 



.container {  
    padding: 1px; 
   
    height: 100vh;  
    position: relative; 
    top: -40px ;
}  
 
.container   h1 { 
    text-align:  center;  
    

}

.container p  { 
    text-align: center; 
} 

.container_devise{ 
    padding: 5px;  
    position:  relative; 
    left: 60px ; 
}   

.form_container_devise { 
    display:  flex ;
    padding: 5px; 
} 

.field{  
    margin: 10px 0px ; 
    font-size:  x-large ;
} 


.actions { 
   font-size: xx-large  ;   
}
 

.form-unit{ 
    margin: 30px 10px ;   
    background-color: azure;
    color: black ; 
    border: 1px solid red ; 
    padding: 5px;

} 

.form-unit h2 { 
    margin: 0px ; 

} 

.form-unit h3 { 
    margin:  0px ; 
   
}

.form_container{  

    margin: 5px  ; 
    
    border: 1px solid white ;  

    width: 100vw; 

}   

.session_manager{ 
    position: absolute; 
    right: 0px ; top : -50px; 
} 
.session_manager a { 
    color : white ;
    margin: 0px 5px  ;
}

.shared_links{ 
    
    
    font-size: larger;  
    margin: 20px 0px ; 

 } 

 .shared_links a  { 
    color: white ; 
    font-weight:  bold ; 
  } 
