*
{
    box-sizing: border-box;
    background-color: black;
    color: white;
}

header
{
    display: flex; 
    align-items: center; 
    justify-content:space-between; 
    margin: 0 1em;
}

.article
{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    box-shadow: 5px 0;
    padding: 1em;
    max-width: 25em;
    text-align: center;
    justify-content: center;
    transition: 0.25s;
}

.article-title
{
    font-size: 1.25em;
    margin: 0;
}

.article-author-source
{
    margin-bottom: 0;
    font-size: 0.9em;
    color: rgb(170, 168, 168);
}

.article-image
{
    max-width: 100%;
    max-height: 10em;
}

.article-description
{
    line-height: 1.8;
    text-align: left;
    margin-top: 0.5em;
    font-size: 1em;
}

.article-read-more
{
    color: white;
    font-weight: bold;
    background-color: blue;
    width: fit-content;
    padding: 0.5em;
    margin: auto;
    border-radius: 0.25em;
    text-decoration: none;
    transition: 0.25s;
}

.article-read-more:hover
{
    color: blue;
    background-color: white;
    font-weight: bold;
}


.container 
{
    margin: 5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1em;
    justify-items: center; /* Centers the content horizontally */
}

.article:hover, .article-read-more:hover, .search-button:hover
{
    transform: scale(1.3);
}

.search-button:hover, .search-box:hover
{
  transform: scale(1.05);
}

.search-box
{
    color: white;
    font-weight: bold;
    width: fit-content;
    padding: 0.75em;
    border: 0.2em solid;
    border-radius: 0.25em;
    transition: 0.25s;
}

.search-button
{
    color: white;
    font-weight: bold;
    background-color: blue;
    width: fit-content;
    padding: 0.9em;
    margin-left: 1em;
    border: none;
    border-radius: 0.25em;
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s;
}

.vanish
{
    visibility: hidden;
}

/*Source: https://cssloaders.github.io/*/

.loader 
{
    transform: rotateZ(45deg);
    margin-left: 1em;
    perspective: 1000px;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    color: #fff;
}
.loader:before, .loader:after 
{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after 
{
    color: blue;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate 
{
    0% 
    {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% 
    {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw 
{
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin 
{
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
}
