*
{
    box-sizing: border-box;
}

header
{
    display: flex; 
    align-items: center; 
    justify-content:space-between; 
    margin: 0 1em;
}

.article
{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 1em;
    max-width: 25em;
    text-align: center;
    justify-content: center;
}

.article-title
{
    font-size: 1.25em;
    margin: 0;
}

.article-author-source
{
    margin-bottom: 0;
    font-size: 0.75em;
    color: gray;
}

.article-image
{
    max-width: 100%;
    max-height: 10em;
}

.article-description
{
    text-align: left;
    margin-top: 0.5em;
    font-size: 1em;
}

.article-read-more
{
    color: blue;
    font-weight: bold;
}

.container 
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1em;
    justify-items: center; /* Centers the content horizontally */
}