
<body style="background: #0A1828 ; color:wheat  " >
<h1 style="display:block; text-align: center  ; " > Forms </h1>  

<div style ="border: 1px solid white ; min-height: 90vh ; padding: 10px ;  "> 
  
<%   @forms.each do |form| %> 
    <div style ="border: 1px solid white ; padding: 5px ;  "> 
      
      <h2 > <%= form.name %> </h2>  
      <p> Description :  <%= form.description %> </p> 
      <h2 style=""><%= link_to "Go To Form"   , form_path(form) , style:"color:white " %> </h2>
    </div> 
<% end %> 
</ul>  
</div> 
</body>   